@import "mixins";

@mixin flyin($direction){
	.flyin_container.#{$direction}{
		#{$direction}: 0;

		& > * {
			@include transition($direction, 0.4s, ease-out);
			#{$direction}: -100%;
		}

		&.show > * {
			#{$direction}: 0%;
		}
	}
}

.flyin_container{
	position: fixed;
	overflow: hidden;
	pointer-events: none;

	& > * {
		position: relative;
		pointer-events: auto;
	}
}

@include flyin(top);
@include flyin(right);
@include flyin(bottom);
@include flyin(left);
